body{
	background-color:#dfdfdf;
	font-family:Verdana;
	font-size: 12px;
}

div#kontener{
	margin: 0 auto;
	background-color:#fefefe;
	width: 900px;
	height:auto;
	min-height:100%;
	border: 2px #3f3f3f dotted;
	overflow:auto;
}

div#naglowek{
	height:10%;
	font-size: 25px;
	font-weight:bold;
	margin: 15px 25px;
}

div#srodek{
	height: 85%;
}

div#kol_lewa{
	float:left;
	padding-left: 15px;
	padding-right: 15px;
	width:650px;
	min-height:100%;
	height: auto;
	/*border:1px solid black;*/
}


div#kol_prawa{
	float:left;
	width:215px;
	height: auto;
	/*border:1px solid black;*/
}

p.tytul{
	margin:0;
	font-weight:bold;
	font-size:15px;
}

p.meta{
	font-size:9px;
	font-style:italic;
	font-weight:bold;
	text-decoration:italic;
	color:#a3a3a3;
	margin: 2px;
}

a.meta:link, a.meta:visited{
	font-size:9px;
	font-style:italic;
	font-weight:bold;
	text-decoration:italic;
	color:#a3a3a3;
	margin: 2px;
}

p.tresc{
	text-align:justify;
}

a#logo{
	text-decoration:none;
	color:black;
}

a:link,a.meta:hover{
	color:black;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

a:visited{
	text-decoration:none;
	color:black;
}

input[type=text]{
	width: 150px;
}

input[type=password]{
	width: 150px;
}

p.alert{
	margin: auto;
	width:200px;
	height:10px;
	padding:5px;
	text-align:center;
	border-radius:10px;
	background-color:#dfdfdf;
	font-weight:bold;
	font-size:10px;
	position:absolute;
	left:0;right:0;top:0;bottom:200;
}

ul,li,p#mini{
	font-size:10px;
}

form.log_reg{
	display:none;
}

